* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  overflow: hidden;
}
.container {
  padding-top: 30vh;
  border: 1px solid red;
  height: 100vh;
  text-align: center;
}
.component {
  float: left;
  margin-top: -4px;
  position: relative;
  height: 50px;
  width: 50px;
  margin-right: 20px;
  /* border:1px solid red; */
}
.component.ele {
  border: 1px solid red;
}
.row {
  display: inline-block;
  margin: 10px 50px;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
.component.ele::after {
  display: none;
  content: "";
  position: absolute;
  transform: translateY(-50%);
  background-color: blue;
  width: 80px;
  height: 35px;
  z-index: -1;
}
.component.ele.starter::after {
  content: "";
  position: absolute;
  transform: scale(0.8);
  background-color: blue;
  width: 100%;
  height: 100%;
  display: block;
}
.component.ele.right::after {
  display: block;
  top: 25px;
  left: 4px;
}
.component.ele.left::after {
  display: block;
  top: 25px;
  right: 4px;
}
.component.ele.down::after {
  display: block;
  top: 43px;
  right: 4px;
  width: 40px;
  height: 80px;
}
.component.ele.top::after {
  display: block;
  top: 0px;
  right: 4px;
  width: 40px;
  height: 90px;
}
